<list-layout
  headerText="Categories"
  subHeaderText="List of categories"
  (handleNew)="new()"
>
  <p-table
    [value]="page.items"
    responsiveLayout="scroll"
    styleClass="p-datatable-gridlines"
    [paginator]="true"
    [rows]="rowsPerPage"
    [showCurrentPageReport]="true"
    responsiveLayout="scroll"
    [lazy]="true"
    [totalRecords]="page.total"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    (onPage)="pageChange($event)"
    (onLazyLoad)="sorTable($event)"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
        <th pSortableColumn="name">
          Name <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="icon">
          Icon <p-sortIcon field="icon"></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-category>
      <tr>
        <td>{{ category.id }}</td>
        <td>{{ category.name }}</td>
        <td>
          <i [ngClass]="category.icon" [style.color]="category.color"></i>
        </td>
        <td>
          <p-button
            (click)="delete(category.id)"
            styleClass="p-button-danger mr-2"
            icon="pi pi-trash"
          ></p-button>
          <p-button
            (click)="edit(category.id)"
            styleClass="p-button-error"
            icon="pi pi-pencil"
          ></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</list-layout>
