<div class="admin-page">
  <p-card header="Categories" subheader="List of categories">
    <div class="p-grid">
      <div class="p-col-12">
        <p-toolbar>
          <div class="p-toolbar-group-left">
            <p-button
              (click)="new()"
              label="New"
              icon="pi pi-plus"
              styleClass="p-button-success"
            ></p-button>
          </div>
        </p-toolbar>
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col-12">
        <p-table
          [value]="items"
          responsiveLayout="scroll"
          styleClass="p-datatable-gridlines"
        >
          <ng-template pTemplate="header">
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Icon</th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-category>
            <tr>
              <td>{{ category.id }}</td>
              <td>{{ category.name }}</td>
              <td>{{ category.icon }}</td>
              <td>
                <p-button
                  (click)="delete(category.id)"
                  styleClass="p-button-danger mr-2"
                  icon="pi pi-trash"
                ></p-button>
                <p-button
                  (click)="edit(category.id)"
                  styleClass="p-button-error"
                  icon="pi pi-pencil"
                ></p-button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </p-card>
</div>
