<list-layout
  headerText="Categories"
  subHeaderText="List of categories"
  (handleNew)="new()"
>
  <p-table
    [value]="items"
    responsiveLayout="scroll"
    styleClass="p-datatable-gridlines"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Icon</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-category>
      <tr>
        <td>{{ category.id }}</td>
        <td>{{ category.name }}</td>
        <td>
          <i [ngClass]="category.icon" [style.color]="category.color"></i>
        </td>
        <td>
          <p-button
            (click)="delete(category.id)"
            styleClass="p-button-danger mr-2"
            icon="pi pi-trash"
          ></p-button>
          <p-button
            (click)="edit(category.id)"
            styleClass="p-button-error"
            icon="pi pi-pencil"
          ></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</list-layout>
