.t-main-template__motor {
  margin-top: rem(40);
}

.t-main-template__footer {
  margin-top: rem(50);
}

.t-main-template__footer--no-spacing {
  margin-top: 0;
}

@media only screen and (max-width: $media.md) {
  .t-main-template__motor {
    margin-top: rem(20);
  }

  .t-main-template__footer {
    max-width: 100%;
    overflow: hidden;
    margin-top: rem(32);
  }

  .t-main-template__passengers {
    order: 3;
  }
}
