.t-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: $z-index.dialog;
  outline: none;
  max-height: 100%;

  &--active {
    transform: scale(1);
    opacity: 1;
    visibility: visible;

    .t-modal__body {
      transform: scale(1);
    }
  }

  &--no-padding .t-modal__body {
    padding-left: 0;
    padding-right: 0;
  }

  &--no-padding-top .t-modal__body {
    padding-top: 0;
  }

  &--no-padding-bottom .t-modal__content {
    padding-bottom: 0;
  }

  &--title-padding .t-modal__title {
    padding-left: rem(47);
  }

  &--no-margin-content .t-modal__content {
    margin: 0;
  }
}

.t-modal__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($theme-main.color-2, 0.5);
}

.t-modal__body {
  background-color: $theme-main.color-10;
  padding: rem(40);
  position: relative;
  z-index: 2;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  transform: scale(0);
  transition: transform 0.2s ease-in-out;
  transition-delay: 0.1s;
}

.t-modal-paragraphy {
  font-size: rem(16);
  line-height: 1.5;
  theme(color, $theme-main.color-3);

  &:first-child {
    margin-top: 0;
  }
}

.t-modal__body--full {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.t-modal__body--gray {
  theme( background-color, $theme-main.color-13);
}

.t-modal__body--gray .t-modal__closed-bar {
  theme(border-color, $theme-main.color-13);
}

.t-modal__body--full .t-modal__content {
  overflow-x: hidden;
}

.t-modal__body--no-padding, .t-modal__body--no-padding .t-modal__content {
  padding: 0;
  margin: 0;
}

.t-modal__body.t-modal__body--with-closed-bar {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.t-modal__head {
  background-color: $theme-main.color-10;
  flex-shrink: 0;
}

.t-modal__title {
  margin-bottom: 0;
  margin-top: 0;
  display: flex;
  align-items: center;

  &::before {
    font-size: rem(22);
    line-height: rem(24);
    margin-right: rem(16);
  }

  &--align-top {
    margin-top: 0;
    padding-right: rem(30);
  }
}

.t-modal__subtitle {
  font-size: rem(14);
  margin-top: rem(6);
}

.t-modal__close {
  background: none;
  border: none;
  font-size: 0;
  position: absolute;
  top: rem(40);
  right: rem(40);
  cursor: pointer;
  padding-left: 0;
  padding-right: 0;
  z-index: 2;

  &::before {
    content: $icons.close;
    font-size: rem(16);
    color: $theme-main.color-2;
  }
}

.t-modal__closed-bar {
  max-height: rem(74);
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: rem(113);
  padding-right: rem(113);
  border-bottom: solid rem(1) $theme-main.color-4;
}

.t-modal__closed-bar__v-ctn {
  width: 100%;
}

.t-modal__closed-bar-btn {
  background: none;
  border: none;
  font-size: rem(16);
  line-height: 1.71;
  color: $theme-main.color-2;
  display: flex;
  align-items: center;
  float: right;
  margin-right: rem(15);

  &::after {
    font-size: rem(10);
    color: $theme-main.color-2;
    margin-left: rem(10);
  }
}

.t-modal__content,
.t-modal__app-component {
  flex-grow: 1;
  margin-top: rem(24);
  padding-bottom: rem(22);
  display: flex;
  flex-direction: column;
}

.t-modal__scroll {
  overflow-y: auto;
  overflow-x: hidden;
}

.t-modal__foot {
  text-align: center;
  border-top: rem(1) solid $theme-main.color-4;
  padding-top: rem(35);
}

.t-modal__foot-close {
  color: $theme-main.color-11;
  font-size: rem(14);
  font-weight: $fontweight.medium;
  display: inline-block;
  background: none;
  border: none;
  text-decoration: underline;
}

.t-modal__text {
  font-size: rem(16);
  line-height: 1.38;
  theme(color, $theme-main.color-3);
  margin-top: 0;
}

.t-modal__text--spaced-bottom {
  line-height: 1.5;
  margin-bottom: rem(32);
}

@media only screen and (max-width: $media.xs) {
  .t-modal .t-modal__content {
    padding-right: 0;
  }

  .t-modal__scroll::-webkit-scrollbar {
      display: none;
   }

  .t-modal--title-padding .t-modal__title {
    padding-left: rem(16);
  }

  .t-modal__body {
    width: 100%;
    height: 100%;
    min-width: 100%;
    max-height: initial;
    padding: rem(36) rem(16);

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .t-modal__body--reset-min-width {
    min-width: auto !important;
  }

  .t-modal__body--no-padding,
  .t-modal__body--no-padding .t-modal__content {
    padding: 0;
    margin: 0;
  }


  .t-modal__close {
    top: rem(18);
    right: rem(16);
  }

  .t-modal__closed-bar {
    padding-left: em(16);
    padding-right: em(16);
  }

  .t-modal__closed-bar__v-ctn.v-ctn {
    padding-left: 0;
    padding-right: 0;
  }

  .t-modal__closed-bar-btn {
    margin-right: 0;
  }

  .t-modal__title--spaced-top {
    margin-top: rem(28);
  }

}
