.m-feedback {
  text-align: center;
  max-width: rem(369);
  padding-top: rem(50);
}

.m-feedback__header {
  position: relative;
  padding-top: rem(24);
}

.m-feedback__title {
  font-size: rem(16);
  font-weight: $fontweight.medium;
  padding-top: rem(52);
  position: relative;
  line-height: 1.38;
  margin-bottom: rem(6);
  margin-top: 0;

  &::before {
    content: $icons.check;
    position: absolute;
    font-size: rem(42);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: $theme-main.color-8;
  }
}

.m-feedback__text {
  font-size: rem(16);
  color: $theme-main.color-3;
  margin-bottom: rem(32);
  line-height: 1.38;
}
