.m-filter {
  display: flex;
  justify-content: space-between;
}

.m-filter__title {
  font-weight: $fontweight.regular;
  line-height: 1.46;
  color: $theme-main.color-2;
  margin: 0;
}

.m-filter__options {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
}

.m-filter__btn {
  font-size: rem(14);
  font-weight: $fontweight.medium;
  padding-right: rem(34);
  border-right: solid rem(1) $theme-main.color-4;
}

.m-filter__check {
  margin-left: rem(32);
}

.m-filter__radio-label {
  font-size: rem(14);
  font-weight: $fontweight.medium;
  padding-left: rem(24);
  color: $theme-main.color-2;
}

.m-filter__radio-label::before {
  width: rem(15);
  height: rem(15);
  box-sizing: border-box;
}

.m-filter__radio-label::after {
  box-sizing: border-box;
  width: rem(9);
  height: rem(9);
  left: rem(3);
}

@media only screen and (max-width: $media.xs) {
 .m-filter {
    flex-direction: column-reverse;
  }

  .m-filter__title {
    margin-top: rem(30);
  }

  .m-filter__options {
    justify-content: space-between;
  }

  .m-filter__btn {
    flex-grow: 1;
    padding-right: rem(4);
  }

  .m-filter__check {
    margin-left: 0;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
  }

}
