// NAMED COLORS
$colors = {
  color-black: #000,
  color-white: #fff,
  blue: #007895,
  blue-2: #526FBE,
  blue-3: #4774A3,
  blue-4: #01A3B5,
  blue-5: #003581,
  blue-6: #c2dbea,
  cyan: #009A8B,
  cyan-2: #007F7C,
  cyan-3: #1bb7c7,
  gold: #A88333,
  gold-2: #ffb414,
  graphite: #2b2b2b,
  graphite-2: #231F20,
  gray: #767676,
  gray-2: #DDDDDD,
  gray-3: #636466,
  gray-4: #BBBCBC,
  gray-5: #3B3B3B,
  gray-6: #4F4743,
  gray-7: #f5f4f2,
  gray-8: #444444,
  gray-9: #999,
  gray-10: #333
  green: #70D44B,
  green-2: #5bb88e,
  green-3: #b3dbdb,
  off-white: #F9F9F9,
  off-white-2: #FDF9F7,
  off-white-3: #dcdcdc,
  orange: #ff5e00,
  orange-2: #FF5A00,
  orange-3: #ff7020,
  purple: #7A2E87,
  purple-2: #732846,
  purple-3: #ba505f,
  red: #9f2027,
  yellow: #ffe09f,
  yellow-2: #fcf6f0,
  invisible: transparent,
  rentCars: #020100,
  booking: #003680,
  estapar: #151517,
  localiza: #00974a,
  mytravel: #00324b,
}

$theme-main = {
  color-1: $colors.orange,
  color-2: $colors.graphite,
  color-3: $colors.gray,
  color-4: $colors.gray-2,
  color-5: $colors.off-white,
  color-6: $colors.blue,
  color-7: $colors.red,
  color-8: $colors.cyan,
  color-9: $colors.gray-5,
  color-10: $colors.color-white,
  color-11: $colors.color-black,
  color-12: $colors.off-white-3,
  color-13: $colors.gray-7,
  color-14: $colors.orange-3,
  color-15: $colors.cyan-3,
  color-16: $colors.green-2,
  color-17: $colors.purple-3,
  color-18: $colors.gray-8,
  color-19: $colors.mytravel,
}

$theme-taxes = {
  color-1: $colors.orange,
  color-2: $colors.purple,
  color-3: $colors.cyan-2,
  color-4: $colors.blue-2,
  color-5: $colors.gray-3,
  color-6: $colors.blue-3,
  color-7: $colors.purple-2,
}

$theme-smiles = {
  color-1: $colors.orange-2,
  color-2: $colors.gray-4,
  color-3: $colors.gold,
  color-4: $colors.graphite-2,
}

$theme-partnerships = {
  color-1: $colors.blue-4,
  color-2: $colors.blue-5,
  color-3: $colors.green,
}

$theme-gollog = {
  color-1: $colors.gray-6,
  color-2: $colors.off-white-2,
}

$theme-exception = {
  color-1: $colors.gray-9,
  color-2: $colors.gray-10,
  color-3: $colors.green-3,
  color-4: $colors.yellow,
  color-5: $colors.blue-6,
  color-6: $colors.yellow-2,
  color-7: $colors.gold-2,
}

$theme-ras = {
  rent-cars: $colors.rentCars,
  seus-ingressos: $colors.gray-2,
  sul-america: $colors.gray-2,
  booking: $colors.booking,
  estapar: $colors.estapar,
  localiza: $colors.localiza,
}
