$icons = {
  '60-more': '\e901',
  'accompanied': '\e902',
  'accordion-close': '\e903',
  'accordion-open': '\e904',
  'accordion-less': '\e93d',
  'airplane': '\e905',
  'airplane-boarding': '\e906',
  'airplane-up': '\e907',
  'alert-board': '\e908',
  'alert-round': '\e909',
  'alteration': '\e90a',
  'ambulance': '\e90b',
  'arepa': '\e90c',
  'arrow-right': '\e900',
  'attendance': '\e90d',
  'avatar': '\e90e',
  'avatar-round': '\e980',
  'baby': '\e995',
  'baggage': '\e984',
  'baggage-service': '\e90f',
  'bar': '\e910',
  'barbecue': '\e911',
  'bathroom': '\e912',
  'bed': '\e913',
  'beer': '\e914',
  'bell': '\e99f',
  'benefit-collaborator': '\e915',
  'blutooth': '\e916',
  'boarding': '\e917',
  'bottle': '\e918',
  'brazil': '\e919',
  'business-chair': '\e91a',
  'calendar': '\e91b',
  'calendar-check': '\e91c',
  'calendar-outline': '\e991',
  'car': '\e91d',
  'card': '\e91e',
  'card-2': '\e91f',
  'card-5': '\e920',
  'carnival': '\e921',
  'car-seat': '\e922',
  'cell-phone': '\e923',
  'chair': '\e985',
  'change-data': '\e924',
  'chat': '\e925',
  'check': '\e926',
  'check-in': '\e986',
  'check-thin': '\e981',
  'check-document': '\e927',
  'checked-baggage': '\e928',
  'child': '\e929',
  'chronometer': '\e92a',
  'city': '\e992',
  'client-support': '\e92b',
  'clip': '\e99d',
  'clock': '\e92c',
  'close': '\e982',
  'coin': '\e996',
  'collaborators': '\e92d',
  'comfort-gol': '\e92e',
  'commercial-crew': '\e92f',
  'computer': '\e930',
  'confirmed-schedule': '\e931',
  'connection': '\e932',
  'cookie': '\e933',
  'corporate-chair': '\e934',
  'coverage': '\e935',
  'coxinha': '\e936',
  'crew': '\e937',
  'croissant': '\e938',
  'crown': '\e939',
  'deslike': '\e987',
  'document-1': '\e93a',
  'document-2': '\e93b',
  'double-heart': '\e93c',
  'download': '\e93d',
  'entertainment': '\e940',
  'exit': '\e93e',
  'exit-airplane': '\e994',
  'facebook': '\e989',
  'favorite-card': '\e941',
  'file': '\e99e',
  'flight-secure': '\e99c',
  'food': '\e942',
  'graphic': '\e943',
  'hamburger': '\e944',
  'hand-baggage': '\e945',
  'heart': '\e946',
  'hotel': '\e947',
  'hourglass': '\e948',
  'instagram': '\e98a',
  'jetlag': '\e949',
  'kennel': '\e997',
  'lactante': '\e94a',
  'landing': '\e94b',
  'less': '\e98f',
  'like': '\e988',
  'linkedin': '\e98b',
  'location': '\e94c',
  'load': '\e9a0',
  'store': '\e94d',
  'labeled-suitcase': '\e94e',
  'man': '\e94f',
  'mail': '\e999',
  'maintenance': '\e950',
  'market-car': '\e983',
  'message': '\e99a',
  'money': '\e951',
  'mug': '\e952',
  'pregnant-woman': '\e953',
  'music': '\e954',
  'on-board-service': '\e955',
  'route': '\e956',
  'percentage': '\e93f',
  'pet': '\e90f',
  'plus': '\e98e',
  'photography': '\e957',
  'building': '\e958',
  'printer': '\e959',
  'qrcode': '\e95a',
  'rain': '\e95b',
  'restricted-access': '\e95c',
  'search': '\e95d',
  'seat-chosen': '\e95e',
  'seat-front': '\e95f',
  'seat-locked': '\e960',
  'seat-side': '\e961',
  'self-service': '\e962',
  'seven': '\e963',
  'shoe': '\e964',
  'shower': '\e965',
  'smile': '\e966',
  'smiles-card': '\e967',
  'sun': '\e968',
  'syringe': '\e969',
  'telephone': '\e96a',
  'telephonic-service': '\e96b',
  'temperature': '\e96c',
  'thigh-chicken': '\e96d',
  'thin-arrow-bottom': '\e96e',
  'thin-arrow-bottom-left': '\e96f',
  'thin-arrow-bottom-right': '\e970',
  'thin-arrow-left': '\e971',
  'thin-arrow-left-right': '\e972',
  'thin-arrow-right': '\e973',
  'thin-arrow-top': '\e974',
  'thin-arrow-top-left': '\e975',
  'thin-arrow-top-right': '\e976',
  'third-party-card': '\e977',
  'ticket-miles': '\e978',
  'ticket-miles-accumulation': '\e979',
  'ticket-miles-accumulation-star': '\e97a',
  'tv': '\e97b',
  'twitter': '\e98c',
  'unaccompanied-child': '\e97c',
  'wallet': '\e99b',
  'wheelchair': '\e97d',
  'wifi': '\e97e',
  'wifi-board': '\e97f',
  'youtube': '\e993',
};
