$sitelimit = 1200px;

$z-index = {
  lv1: 10,
  lv2: 20,
  lv3: 30,
  dialog: 60,
  invisible: -1,
  initial: 1,
}

// Footer heights

$footerheight = 552px;
$footerheighttablet = 1108px;
$footerheightmobile = 1140px;

$footervoebizheight = 446px;
$footervoebizheighttablet = 913px;
$footervoebizheightmobile = 947px;
