.v-mbl-on {
  max-height: 0;
  display: none;
  mso-hide: all;
  overflow: hidden;
  font-size: 0;
}

@media only screen and (max-width: $media.md) {
 .v-mbl-on {
    display: block;
    max-height: none;
    font-size: auto;
    height: auto;
    overflow: visible;
  } 
}