.a-icon {
  &::before,
  &::after {
    font-family: $fontfamily.icon;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    display: inline-block;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  for $name, $value in $icons {
    &--bf-{$name}::before {
      content: $value;
    }

    &--af-{$name}::after {
      content: $value;
    }
  }
}
