.a-logo {
  max-width: rem(70);
  font-size: 0;
  text-decoration: none;
  display: block;

  img {
    max-width: 100%;
    display: block;
  }

  &--voebiz {
    max-width: none;
    border-right: solid rem(1);
    theme(border-color, $theme-main.color-4);
    margin-right: rem(10);
    padding-right: rem(20);
  }
}

.a-logo--large {
  max-width rem(110);
}

@media only screen and (max-width: $media.md) {
  .a-logo {
    img {
      max-width: rem(70);
    }

    &--voebiz {
      border-right: none;
    }
  }

  .a-logo--large {
    img {
      max-width: rem(110);
    }
  }
}
