.a-slide-bottom {
  transform: translateY(-100%);
  opacity: 0;

	&.a-slide-bottom--time-1 {
    animation: slide-bottom-time-1 0.4s 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  &.a-slide-bottom--time-2 {
    animation: slide-bottom-time-2 0.4s 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

    &.a-slide-bottom--time-3 {
    animation: slide-bottom-time-3 0.4s 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
}