.a-title {
  font-weight: $fontweight.regular;
  line-height: 1.3;

  &--lv1 {
    font-size: rem(39);
  }

  &--lv2 {
    font-size: rem(32);
  }

  &--lv3 {
    font-size: rem(24);
  }

  &--bold {
   font-weight: $fontweight.bold;
  }
}

.a-title__flag {
  color: $theme-main.color-3;
  font-size: 0.5em;
}

