@font-face {
  font-family: 'Gol-Regular';
  src: url('/assets/fonts/GOLSansDisplay/GOLSansDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gol-Medium';
  src: url('/assets/fonts/GOLSansDisplay/GOLSansDisplay-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gol-Regular';
  src: url('/assets/fonts/GOLSansDisplay/GOLSansText-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gol-pss';
  src: url('/assets/fonts/icons/gol-pss.woff') format('woff'), url('/assets/fonts/icons/gol-pss.svg') format('svg'), url('/assets/fonts/icons/gol-pss.eot') format('eot'), url('/assets/fonts/icons/gol-pss.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
