<edit-form-layout
  formHeaderText="Edit Category"
  subHeaderText="Category management"
  (handleSave)="save()"
  (handleCancel)="cancel()"
>
  <form [formGroup]="form">
    <div class="formgrid grid">
      <div class="field col">
        <label for="name">Name</label>
        <input
          class="inputfield w-full"
          formControlName="name"
          id="name"
          type="text"
          pInputText
        />
        <small
          class="p-error"
          *ngIf="displayMessage.name"
          [innerHTML]="displayMessage.name"
        >
        </small>
      </div>
      <div class="field col">
        <label for="icon">Icon</label>
        <input
          class="inputfield w-full"
          formControlName="icon"
          id="icon"
          type="text"
          pInputText
        />
      </div>
      <div class="field col-1">
        <label for="color">Color</label><br />
        <p-colorPicker formControlName="color"></p-colorPicker>
      </div>
      <div class="field col">
        <label>Example</label>
        <i
          class="display: block"
          [class]="form.get('icon')?.value"
          [style.color]="form.get('color')?.value"
        ></i>
      </div>
    </div>
  </form>
</edit-form-layout>
